<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bando.css"> 
    <link rel="stylesheet" href="/css/mediaelegirbando.css">

    <title>¿Con qué bando deseas jugar?</title>
</head>
<body>
    <div class="elegir-bando">
    <h1 id="titulo-bando">¿Con qué bando deseas jugar?</h1>  

    <p>
        <a href="/juego-local" class="boton-centrado" id="bando-negro">♟️ Jugar como Negro ♟️</a>
    </p>
    <p>
        <a href="/juego-local" class="boton-centrado" id="bando-blanco">♙ Jugar como Blanco ♙</a>
    </p>
    </div>
</body>
</html>
