<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mediadesarrolladores.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desarrolladores</title>
</head>
<body>
    <a href="/principal" class="boton-menu">Volver al menú</a>

    <div class="cuadro-de-fondo" style="width:fit-content;">
    </div>
    
    <div class="contenedor">
        <h1>Desarrolladores:</h1>
        <div class="desarrolladores">
            <div class="dev">
                <a href="https://github.com/TH3L1AR7" target="_blank">
                    <img src="/img/Varios/1200px-GitHub_Invertocat_Logo.svg.png" alt=" ">
                    <span>Benjamin Casanova</span>
                </a>   
                <a href="https://github.com/dylanb55" target="_blank">
                    <img src="/img/Varios/1200px-GitHub_Invertocat_Logo.svg.png" alt=" ">
                    <span>Dylan Barahona</span>
                </a> 
                
            </div>
            
        </div>
                <p id="seccion">Profesor: Jonathan Frez <br> Sección 2</p>   

    </div>
</body>
</html>