<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/principal.css">
    <title>Chess UDP</title> 
</head>
<body>
    <div id="informacion-principal">
        <p id="titulo">♟️ Chess UDP ♟️</p>
    </div>
    
    <div id="cuadro-inferior">
        <p id="parrafo">Bienvenido a este sitio web que ha sido creado para todos los 
            amantes del ajedrez que desean jugar de forma local y en línea 
            con otros jugadores.<br>
            
            Partidas jugadas el día de hoy:<br>
            <p id = "aleatory" ></p>
        </p>
        <a href="/principal" class="boton-principal">Jugar</a> 
    </div>
    <script src="/js/aleatory.js"></script>
</body>
</html>